geemap==0.32.1
earthengine-api==0.1.412
folium==0.18.0
geopandas==0.14.0
pandas==2.2.2
path==16.4.0
patool==1.12
plotly==5.22.0
streamlit==1.39.0
streamlit_folium==0.23.1
altair==5.3.0
fiona==1.9.6
setuptools==65.5.0
